@import "variables";

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

    @media (max-width: 1170px) {
        width: auto;
        margin: auto;
    }
}

.header {
    height: 100px;
    border-bottom: 1px solid #ececec;

    @media (max-width: 745px) {
        height: auto;
    }
}

.headerInside {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: 745px) {
        flex-direction: column;
        padding: 15px;
    }

    > div,
    form {
        @media (max-width: 745px) {
            margin-bottom: 15px;
        }
    }

    .headerCart {
        margin-left: auto;
        margin-right: 25px;
    
        @media (max-width: 745px) {
            display: none;
        }
    }

    .accountBtn {
        padding: 15px;
        background-color: $mainColor;
        color: white;
        border: none;
    }
}

.logo {
    width: 165px;
    line-height: 51px;
    background: url(../images/logo.png) no-repeat;
    font-size: 27px;
    font-weight: 300;
    padding-left: 60px;

    @media (max-width: 745px) {
        width: auto;
    }

    span {
        color: $mainColor;
        font-weight: 400;
    }
}

.searchWrap {
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden;

    .searchBrowse {
        height: inherit;
        padding: 12px;
        font-size: 14px;
        color: #222222;
        background-color: #f9f9f9;
        box-sizing: border-box;
        border-right: 1px solid #e6e6e6;
    
        @media (max-width: 745px) {
            padding: 11px;
        }
    }

    input {
        height: inherit;
        padding: 0 3px;
        border: none;
        outline: none;
    }

    button {
        height: inherit;
        padding: 0 8px;
        border: 0;
        background: none;
        border-left: 1px solid #e6e6e6;
    }
}

.topNav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 740px) {
        height: auto;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @media (max-width: 425px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    a {
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        color: #222222;

        &:hover {
            color: $mainColor;
        }
    }

    a:not(:last-child) {
        margin-right: 45px;

        @media (max-width: 425px) {
            margin-right: 0;
        }
    }
}

.newArrivalsWrap {
    height: 150px;
    background: #f8f3f4;

    .newArrivals {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;

        @media (max-width: 520px) {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        h1 {
            margin: 0;
            font-weight: 900;
            color: $mainColor;
        }

        nav a {
            text-decoration: none;
            color: #636363;

            &:hover {
                color: $mainColor;
            }

            &:last-child {
                font-weight: 700;
                color: $mainColor;
            }
        }
    }
}

.modelWrap {
    .modelSlider {
        position: relative;

        img {
            min-height: 777px;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }

        .modelSliderLeftArrow,
        .modelSliderRightArrow {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: calc(50% - 47px / 2);
            width: 47px;
            height: 47px;
            color: #fff;
            background: #d8d8d8;
            cursor: pointer;
        }
        .modelSliderRightArrow {
            right: 0;
        }
    }

    .modelDataWrap {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #eaeaea;
        padding-top: 73px;
        padding-bottom: 122px;
        position: relative;
        top: -86px;
        background: #fff;

        .modelData {
            width: 620px;
            padding: 15px;
            box-sizing: border-box;
            @media (max-width: 650px) {
                width: auto;
            }

            .modelHeader {
                width: 148px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                text-transform: uppercase;
                color: $mainColor;
                font-size: 14px;
                font-weight: 900;
                padding-bottom: 15px;
                border-bottom: 1px solid #eaeaea;
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    left: calc(50% - 64px / 2);
                    width: 64px;
                    height: 3px;
                    background-color: $mainColor;
                }
            }

            .modelProductHeader {
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 900;
                color: #4d4d4d;
                margin-top: 17px;
                text-align: center;
                margin-bottom: 67px;
            }

            .modelProductDesc {
                color: #5e5e5e;
                font-weight: 300;
                text-align: justify;
            }

            .modelProductDetails {
                margin-top: 28px;
                margin-bottom: 37px;
                display: flex;
                justify-content: center;
                font-weight: 700;
                text-transform: uppercase;

                > div:first-child {
                    margin-right: 44px;
                }

                .modelProductParam {
                    color: #b9b9b9;
                }

                .modelProductValue {
                    color: #2f2f2f;
                }
            }

            .modelProductPrice {
                color: $mainColor;
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                padding-bottom: 43px;
                margin-bottom: 63px;
                border-bottom: 1px solid #eaeaea;
            }

            .modelProductOrder {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 537px;
                margin-left: auto;
                margin-right: auto;

                @media (max-width: 587px) {
                    width: auto;
                }

                @media (max-width: 493px) {
                    flex-direction: column;
                }

                &Unit {

                    label {
                        color: #2f2f2f;
                        font-weight: 700;
                        text-transform: uppercase;
                        margin-bottom: 16px;
                        display: block;
                    }

                    select,
                    input {
                        width: 144px;
                        height: 35px;
                        display: block;
                        border: 1px solid #eaeaea;
                        padding: 8px 10px;
                        font-size: 13px;
                        color: #bcbcbc;
                        outline: none;

                        @media (max-width: 493px) {
                            width: 100%;
                        }
                    }

                    select {
                        -moz-appearance: window;
                        -webkit-appearance: none;
                    }

                    .modelProductSelectWrap {
                        position: relative;
                        
                        i {
                            color: #bcbcbc;
                            position: absolute;
                            right: 8px;
                            top: 12px;
                            display: block;
                            font-size: 12px;
                        }

                        .modelProductColorValue {
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background: $mainColor;
                            top: 11px;
                            left: 14px;
                        }

                        .modelProductColor {
                            padding-left: 37px;
                        }
                    }

                    input {
                        box-sizing: border-box;
                    }
                }

                button {
                    width: 100%;
                    border: 1px solid $mainColor;
                    background: #ffffff;
                    margin-top: 28px;
                    padding: 15px;
                    color: $mainColor;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.alsoLike {
    padding-right: 0;
    padding-left: 0;

    .alsoLikeHeader {
        text-transform: uppercase;
        color: #4d4d4d;
        font-size: 24px;
        font-weight: 900;
        text-align: center;
    }

    .featuredItems {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 600px) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
    }
    
    .featuredItem {
        width: 264px;
        height: 370px;

        @include media(600px, 1170px) {
            width: calc(50% - 30px);
            height: auto;
        }

        @media (max-width: 1170px) {
            padding: 15px;
        }
    }
    
    .featuredItem:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }
    
    .featuredItem:nth-child(n+5) {
        margin-top: 27px;
    }
    
    .featuredImgWrap {
        min-height: 280px;
        position: relative;
    }
    
    .featuredBuy {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        position: absolute;
    }
    
    .featuredItem:hover .featuredBuy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .featuredBuy button {
        padding: 15px;
        border: 1px solid #ffffff;
        background: none;
        color: white;
        font-size: 13px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .featuredBuy button img {
        margin-right: 10px;
    }
    
    .featuredProduct {
        width: 100%;
        display: block;
        height: inherit;
        object-fit: cover;
        object-position: center center;
    }
    
    .featuredNameAndPrice {
        padding: 15px;
    }
    
    .featuredItemName {
        margin-bottom: 15px;
        font-size: 13px;
        text-transform: uppercase;
        color: #222222;
        font-weight: 700;
        max-height: 2.4em;
        overflow: hidden;
    }
    
    .featuredItemPrice {
        color: $mainColor;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.subscribeWrap {
    margin-top: 100px;
    height: 438px;
    background: url(../images/subscribe.jpg) no-repeat center bottom, #ccc;
    background-blend-mode: overlay;
    background-size: cover;

    @media (max-width: 1040px) {
        height: auto;
    }

    .subscribe {
        display: flex;
        height: inherit;
    
        @media (max-width: 1040px) {
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .reviews,
        .subscribeRight {
            width: calc(50% - 0.5px);
    
            @media (max-width: 1040px) {
                width: auto;
            }
        }
    }
}


.reviews {
    display: flex;
    align-items: center;

    @media (max-width: 1040px) {
        margin-bottom: 50px;
    }

    .reviewUnit {
        width: 500px;
        display: flex;
        justify-content: space-between;
        
        @media (max-width: 530px) {
            width: auto;
        }

        @media (max-width: 353px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .reviewUnitLeft {
            width: 83px;
        }
        
        .reviewUnitRight {
            width: 386px;
        }

        .reviewUnitLeft,
        .reviewUnitRight {
            @media (max-width: 530px) {
                width: auto;
            }
        }

        .reviewUnitRight {
            @media (max-width: 530px) {
                margin-left: 15px;
            }

            @media (max-width: 353px) {
                margin-left: 0;
            }

            blockquote {
                margin: 0;
                font-size: 16px;
                font-style: italic;
                line-height: 26px;
                font-weight: 700;
            }

            .reviewName {
                margin-top: 20px;
                font-size: 16px;
                font-weight: 700;
                color: $mainColor;
            }

            .reviewName,
            .reviewFrom {
                @media (max-width: 353px) {
                    text-align: center;
                }
            }

            .reviewFrom {
                color: #222224;
                font-size: 12px;
                font-weight: 300;
            }

            .reviewsSwitch {
                width: 140px;
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
            
                @media (max-width: 353px) {
                    margin-left: auto;
                    margin-right: auto;
                }

                div {
                    width: 38px;
                    height: 4px;
                    background-color: #d6d6d6;

                    &:hover {
                        background-color: $mainColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.subscribeDivider {
    width: 1px;
    background: #e3e3e3;

    @media (max-width: 1040px) {
        display: none;
    }
}

.subscribeRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Head {
        font-size: 24px;
        text-transform: uppercase;
        color: #222224;
    }

    &Text {
        margin: 10px 0 35px;

        @media (max-width: 353px) {
            text-align: center;
        }
    }

    .subscribeForm {
        height: 46px;
    
        @media (max-width: 353px) {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        input {
            height: inherit;
            width: 334px;
            border: none;
            outline: none;
            padding: 0 28px;
            font-weight: 700;
            background-color: #e1e1e1;
            border-top-left-radius: 23px;
            border-bottom-left-radius: 23px;
            float: left;

            @media (max-width: 519px) {
                width: auto;
            }

            @media (max-width: 353px) {
                float: none;
                border-top-right-radius: 23px;
                border-bottom-right-radius: 23px;
                height: 46px;
                text-align: center;
            }
        }

        button {
            background-color: $mainColor;
            border-top-right-radius: 23px;
            border-bottom-right-radius: 23px;
            color: white;
            border: none;
            height: inherit;
            padding: 0 20px;
            outline: none;
            cursor: pointer;
        
            @media (max-width: 353px) {
                border-top-left-radius: 23px;
                border-bottom-left-radius: 23px;
                height: 46px;
                margin-top: 15px;
            }
        }
        
    }
}

footer {
    margin-top: 100px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    .footerBrand {
        width: 427px;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        color: #898989;
    
        @media (max-width: 904px) {
            width: auto;
        }

        .footerBrandText1 {
            margin: 30px 0;
        }
    }

    .footerColumn {
        padding-top: 15px;

        h2 {
            margin: 0 0 30px;
            font-size: 18px;
            font-weight: 700;
            color: $mainColor;

            @media (max-width: 904px) {
                margin: 0;
            }
        }

        a {
            display: block;
            color: #898989;
            font-size: 16px;
            text-decoration: none;

            &:hover {
                color: $mainColor;
            }

            &:not(:last-child) {
                margin-bottom: 25px;

                @media (max-width: 904px) {
                    margin-bottom: 0;
                }
            }
        
            @media (max-width: 904px) {
                display: inline-block;
                padding: 10px;
            }
        }

        nav {
            @media (max-width: 904px) {
                margin: 0 -10px;
            }
        }
    }
}

.copyrights {
    margin-top: 100px;
    height: 80px;
    background: #e6e6e6;

    @media (max-width: 500px) {
        height: auto;
        padding: 15px;
    }

    .copyrightsWrap {
        color: #7a7a7a;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        @media (max-width: 500px) {
            height: auto;
            flex-direction: column;
            justify-content: center;
        }

        .copyrightsRight {
            display: flex;
            width: 200px;
            justify-content: space-between;
        
            @media (max-width: 500px) {
                margin-top: 30px;
            }
        
            a {
                text-decoration: none;
                color: inherit;
            }
        
            i {
                width: 32px;
                height: 32px;
                background: white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
        
                &:hover {
                    color: white;
                    background: $mainColor;
                }
            }
        }
    }
}
